@page "/edit-category"
@using AlbyOnContainers.ProductDataManager.Models

<PageTitle>Edit Category</PageTitle>
    <div class="col-md-12">
        <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">Cannot save Category</RadzenAlert>
        <RadzenTemplateForm TItem="Category" Data="@category" Visible="@(category != null)" Submit="@FormSubmit">
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Name" Component="Name" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@category.Name" Name="Name" />
                    <RadzenRequiredValidator Component="Name" Text="Name is required" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Description" Component="Description" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@category.Description" Name="Description" />
                    <RadzenRequiredValidator Component="Description" Text="Description is required" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Created" Component="Created" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenDatePicker DateFormat="MM/dd/yyyy" style="display: block; width: 100%" @bind-Value="@category.Created" Name="Created" />
                    <RadzenRequiredValidator Component="Created" Text="Created is required" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Created By" Component="CreatedBy" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@category.CreatedBy" Name="CreatedBy" />
                    <RadzenRequiredValidator Component="CreatedBy" Text="CreatedBy is required" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Last Modified" Component="LastModified" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenDatePicker DateFormat="MM/dd/yyyy" style="display: block; width: 100%" @bind-Value="@category.LastModified" Name="LastModified" />
                    <RadzenRequiredValidator Component="LastModified" Text="LastModified is required" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Last Modified By" Component="LastModifiedBy" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@category.LastModifiedBy" Name="LastModifiedBy" />
                    <RadzenRequiredValidator Component="LastModifiedBy" Text="LastModifiedBy is required" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Parent" Component="Parent" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenDropDown Data="@categoriesForParentId" TextProperty="LastModifiedBy" ValueProperty="Id"
                         Placeholder="Choose Parent" style="display: block; width: 100%" @bind-Value="@category.ParentId" Name="ParentId"
                           />
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-end" style="margin-top: 1rem">
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save" Style="margin-right: 0.5rem" Variant="Variant.Flat" />
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Variant="Variant.Flat" Click="@CancelButtonClick"  />
                </div>
            </div>
        </RadzenTemplateForm>
    </div>

